<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta charset="utf-8">
		<title></title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link href="../css/bootstrap-reset.css" rel="stylesheet">
	    	<!-- FontAwesome Styles-->
    	<link href="../css/font-awesome.css" rel="stylesheet" />
	    <!--external css-->
	    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    <link href="../assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
	    <link rel="stylesheet" href="../css/owl.carousel.css" type="text/css">
	    <!-- Custom styles for this template -->
	    <link href="../css/style.css" rel="stylesheet">
	    <link href="../css/style-responsive.css" rel="stylesheet" />
	    <link href="../css/base.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/styleByTimeline.css"/>
	     <!-- 2、 引入Bootstrap 样式-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
		<!-- 3、引入jQuery.js (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    
    <!-- 4、引入 bootstrap.js  Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    
    <!-- 5、bootstrap table组件以及中文包的引用 -->
    <script src="../js/bootstrap-table.js"></script>
    <link href="../css/bootstrap-table.css" rel="stylesheet" />
    <script src="../js/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <!-- 6、兼容IE9以下的浏览器   -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- 7、页面Js文件的引用    -->
    <script src="../js/index.js"></script>
	    <!-- 5、bootstrap table组件以及中文包的引用 -->
	     <link href="../css/bootstrap-table.css" rel="stylesheet" />
    
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="../img/favicon.html">

    <title>Form Wizard</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/custom-styles.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="">
      <!--中1区域 header start-->
      <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><img src="../image/供应链金融.png"></a>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
              <user-name></user-name>
              <!--search & user info end-->
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
      		<!--导航栏区域-->
	      	<div id="yu">
	      		<nav-tem :yu="yu"></nav-tem>
	      	</div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content" class="wrapper">
      	<div id="mapDiv" >
      		<div  style="height: 50%;width: 100%;margin-top: 4px;"class="row">
      			<div class="col-lg-12"><div id="map" class="col-lg-6"></div></div>
      			<div class="col-lg-12"><div id="mapLine" class="col-lg-6"></div></div>
      			<div id="map1"  class="col-lg-6" style="height: 100%;padding-right:0px;margin-right:20px;float: left;"></div>
      			<div id="map2" class="col-lg-6" style="height: 100%;float: left;"></div>
      		</div>
    			<div style="height: 50%;width: 100%;" class="col-lg-6">
    				<div><table id="tb_departments"></table></div>
    				<div id="map3" style="height: 100%;width: 50%;float: left;"></div>
    				<div id="map4" style="height: 100%;width: 50%;float: right;"></div>
    			</div>
    			
    			
     		</div>
     <!--main content end-->
 		  </section>
  <!-- js placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.scrollTo.min.js"></script>
    <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
		


    <!--common script for all pages-->
    <script src="../js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="../js/jquery.stepy.js"></script>
		<script src="../js/bootstrap-table.js"></script>
   
    <script src="../js/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 7、页面Js文件的引用    -->
    <script src="../js/index.js"></script>
    <!-- Metis Menu Js -->
    <script src="../js/jquery.metisMenu.js"></script>
		<script src="../js/custom-scripts.js"></script>
		<script src="../js/echarts-all.js"></script>
		<script type="text/x-template" id="userName-template">
			 <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" id="nameA" class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="username">小明</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout" role="menu">
                            <div class="log-arrow-up"></div>
                            <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
		</script>
		<script>
			Vue.component('user-name',{
				template:'#userName-template'
			});
			var userName = new Vue({
				el : '#userName'
			});
		</script>
		<script>
			$(function(){
				$('#mapDiv').height($('#sidebar').height());
			});
		</script>
			<script>
			$(function(){
				
				var worldMapContainer = document.getElementById('map1');
			//用于使chart自适应高度和宽度,通过窗体高宽计算容器高宽
			
			var resizeWorldMapContainer = function () {
			    worldMapContainer.style.width = $('#map').width()+'px';
			    worldMapContainer.style.height = $('#map1').height()+'px';
			};
			//设置容器高宽
			resizeWorldMapContainer();
			// 基于准备好的dom，初始化echarts实例
			var myChart = echarts.init(worldMapContainer);
			
			var option = {
						backgroundColor:'#fff',
				    title : {
				        text: '曲线图'
				        //subtext: '纯属虚构'
				    },
				    tooltip : {
				        trigger: 'axis'
				    },
				    legend: {
				        data:['融资','登记','转让'],
				        height: worldMapContainer.style.height,
				        width: worldMapContainer.style.width
				    },
				    toolbox: {
				        show : true,
				        feature : {
				            mark : {show: false},
				            dataView : {show: true, readOnly: false},
				            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
				    xAxis : [
				        {
				            type : 'category',
				            boundaryGap : false,
				            data : ['周一','周二','周三','周四','周五','周六','周日']
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value'
				        }
				    ],
				    series : [
				        {
				            name:'融资',
				            type:'line',
				            smooth:true,
				            itemStyle: {normal: {areaStyle: {type: 'default'}}},
				            data:[10, 12, 21, 54, 260, 830, 710]
				        },
				        {
				            name:'登记',
				            type:'line',
				            smooth:true,
				            itemStyle: {normal: {areaStyle: {type: 'default'}}},
				            data:[30, 182, 434, 791, 390, 30, 10]
				        },
				        {
				            name:'转让',
				            type:'line',
				            smooth:true,
				            itemStyle: {normal: {areaStyle: {type: 'default'}}},
				            data:[1320, 1132, 601, 234, 120, 90, 20]
				        }
				    ]
				};
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
			
			//用于使chart自适应高度和宽度
		
  			var worldMapContainer2 = document.getElementById('map2');
			//用于使chart自适应高度和宽度,通过窗体高宽计算容器高宽
  			var resizeWorldMapContainer2 = function () {
			    worldMapContainer2.style.width = $('#mapLine').width()+'px';
			    worldMapContainer2.style.height = $('#map2').height()+'px';
			};
			//设置容器高宽
			resizeWorldMapContainer2();
			// 基于准备好的dom，初始化echarts实例
			var c = echarts.init(worldMapContainer2);
  	var option = {
  			backgroundColor:'#fff',
		    title : {
		        text: '饼图',
		//      subtext: '纯属虚构',
		        x:'left'
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		        orient : 'vertical',
		        x : 'left',
		        y:'bottom',
		        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎'],
		        height: worldMapContainer2.style.height,
		        width: worldMapContainer2.style.width
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {show: false},
		            dataView : {show: true, readOnly: false},
		            magicType : {
		                show: true, 
		                type: ['pie', 'funnel'],
		                option: {
		                    funnel: {
		                        x: '25%',
		                        width: '50%',
		                        funnelAlign: 'left',
		                        max: 1548
		                    }
		                }
		            },
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    series : [
		        {
		            name:'访问来源',
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:[
		                {value:335, name:'直接访问'},
		                {value:310, name:'邮件营销'},
		                {value:234, name:'联盟广告'},
		                {value:135, name:'视频广告'},
		                {value:1548, name:'搜索引擎'}
		            ]
		        }
		    ]
		};
// 使用刚指定的配置项和数据显示图表。
			c.setOption(option);
			
			//用于使chart自适应高度和宽度
			window.onresize = function () {
			    //重置容器高宽
			    resizeWorldMapContainer2();
			    c.resize();
			     resizeWorldMapContainer();
			    myChart.resize();
			};
  		});
  	</script>
  
  <script>

      //step wizard

      $(function() {
      		$('#searchNoreDiv').hide();
          $('#default').stepy({
              backLabel: 'Previous',
              block: true,
              nextLabel: '下一步',
              titleClick: true,
              titleTarget: '.stepy-tab'
          });
          createTable('ta');
		      /**
		       * 新增的弹出窗口
		       */
          $('#btn_add').on('click',function(){
          	$('#addModal').modal();
          });
          $('#searchContent').on('click',function(){
          	seachCust();
          });
          
          $('#searchMore').on('click',function(){
          	changeSearchStyle()
          });
      });
      
      
      /**
       * 查询的弹出窗口
       */
      function seachCust(){
      	$('#myModal').modal();
      	createTable('ta');
      }
      
      /**
       * 改变查询更多条件的样式
       */
      function changeSearchStyle(){
      	var i = $('#searchMore').children('i');
          	if(i.hasClass('icon-chevron-left')){
          		i.removeClass('icon-chevron-left');
          		i.addClass('icon-chevron-down');
          		$('#searchMore').children('span').html('精选筛选条件 ');
          		$('#searchNoreDiv').show();
          	}else{
          		i.removeClass('icon-chevron-down');
          		i.addClass('icon-chevron-left');
          		$('#searchMore').children('span').html('更多筛选条件 ');
          		$('#searchNoreDiv').hide();
          	}
      }
  </script>
   <!--<script type="text/x-template" id="nav">
	         <nav id="sidebar" class="navbar-default navbar-side" role="navigation">
	            <div class="sidebar-collapse">
	                <ul class="nav" id="main-menu">
	
	                    <li>
	                        <a class="active-menu" href="home.html"><i class="fa fa-dashboard"></i> 首页</a>
	                    </li>
	                    <li v-for="key in yu">
	                    	<a href="{{key.url}}"><i class="{{key.icon}} fa fa-desktop"></i> {{key.name}}<span class="fa arrow"></span></a>
	                    		<ul v-if="key.children != undefined" class="nav nav-second-level">
	                    			<li v-for="ke in key.children">
	                    				 <a href="{{ke.url}}"><i v-if="ke.children!=undefined" class="{{ke.icon}}"></i>{{ke.name}}<span v-if="ke.children!=undefined" class="fa arrow"></span></a>
                            	 <ul v-if="ke.children!=undefined" class="nav nav-third-level">
                            	 	<li v-for="k in ke.children">
                            	 		<a href="{{k.url}}">{{k.name}}</a>
                            	 	</li>	
                            	 </ul>
                            </li>
	                    		</ul>
	                    </li>
	                    
	                </ul>
	
	            </div>
	
	        </nav>
	         	
  </script>
  <script type="text/javascript">
		Vue.component('nav-tem', {
		  template: '#nav',
		  props: {
		  	yu:Array
		  }
		}); 
		var testData = [{
							url:'form_wizard.html?name="申请"',
							name:'申请'
						},{
							url:'form_wizard.html?name="复核"',
							name:'复核'
						},{
							url:'form_wizard.html?name="在途"',
							name:'在途'
						},{
							url:'form_wizard.html?name="处理"',
							name:'处理'
						}];
		
		var datay = [{
			url:'#',
			icon:'icon-group',
			name:'客户管理',
			children:[{
				url:'form_wizard.html?name="新增"',
				name:'新增'
			},{
				url:'form_wizard.html?name="修改"',
				name:'修改'
			},{
				url:'form_wizard.html?name="查询"',
				name:'查询'
			},{
				url:'form_wizard.html?name="删除"',
				name:'删除'
			}]},
			{
				url:'#',
				icon:'icon-briefcase',
				name:'国内单笔保理',
				children:[{
					url:'#',
					icon:'icon-pencil',
					name:'登记',
					children:testData
				},{
					url:'#',
					icon:'icon-mail-forward',
					name:'转让',
					children:[{
							url:'form_wizard.html?name="申请"',
							name:'申请'
						},{
							url:'form_wizard.html?name="复核"',
							name:'复核'
						},{
							url:'form_wizard.html?name="在途"',
							name:'在途'
						},{
							url:'form_wizard.html?name="处理"',
							name:'处理'
						}]
				},{
					url:'#',
					icon:'icon-cny',
					name:'融资',
					children:[{
							url:'form_wizard.html?name="申请"',
							name:'申请'
						},{
							url:'form_wizard.html?name="复核"',
							name:'复核'
						},{
							url:'form_wizard.html?name="在途"',
							name:'在途'
						},{
							url:'form_wizard.html?name="处理"',
							name:'处理'
						}]
				},{
					url:'#',
					icon:'icon-credit-card',
					name:'付款',
					children:[{
							url:'form_wizard.html?name="申请"',
							name:'申请'
						},{
							url:'form_wizard.html?name="复核"',
							name:'复核'
						},{
							url:'form_wizard.html?name="在途"',
							name:'在途'
						},{
							url:'form_wizard.html?name="处理"',
							name:'处理'
						}]
				},]
				},
				{
					url:'barPage.html',
					icon:'icon-bar-chart',
					name:'报表',
				}
		];
		var vm = new Vue({
								el: '#yu',
								data:{
									yu:datay
								}
							});
  </script>
  -->
  </body>
</html>
