<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta charset="utf-8">
		<title></title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
	    <link href="../css/bootstrap-reset.css" rel="stylesheet">
	    	<!-- FontAwesome Styles-->
    	<link href="../css/font-awesome.css" rel="stylesheet" />
	    <!--external css-->
	    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    <link href="../assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
	    <link rel="stylesheet" href="../css/owl.carousel.css" type="text/css">
	    <!-- Custom styles for this template -->
	    <link href="../css/style.css" rel="stylesheet">
	    <link href="../css/style-responsive.css" rel="stylesheet" />
	     <!-- 2、 引入Bootstrap 样式-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
		<!-- 3、引入jQuery.js (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    
    <!-- 4、引入 bootstrap.js  Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    
    <!-- 5、bootstrap table组件以及中文包的引用 -->
    <script src="../js/bootstrap-table.js"></script>
    <link href="../css/bootstrap-table.css" rel="stylesheet" />
    <script src="../js/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <!-- 6、兼容IE9以下的浏览器   -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- 7、页面Js文件的引用    -->
    <script src="../js/index.js"></script>
	    <!-- 5、bootstrap table组件以及中文包的引用 -->
	     <link href="../css/bootstrap-table.css" rel="stylesheet" />
    
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="../img/favicon.html">

    <title>Form Wizard</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/custom-styles.css" />
			 <style media=print>
    /* 应用这个样式的在打印时隐藏 */
    .Noprint {
     display: none;
    }
   
    /* 应用这个样式的，从那个标签结束开始另算一页，之后在遇到再起一页，以此类推 */
    .PageNext {
     page-break-after: always;
    }
   </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="">
      <!--中1区域 header start-->
      <header class="header white-bg Noprint">
            <div class="sidebar-toggle-box">
                <div class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><img src="../image/供应链金融.png"></a>
            <!--logo end-->
            <div class="top-nav " id="userName">
            	<user-name></user-name>
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside class="Noprint">
	      	 <div id="yu">
	      		<nav-tem :yu="yu"></nav-tem>
	      	</div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading Noprint" id="olHead">
                              	<ol-tem :ol="ol"></ol-tem>
                          </header>
                          <div class="panel-body">
                              <div class="stepy-tab Noprint">
                                  <ul id="default-titles" class="stepy-titles clearfix">
                                      <li id="default-title-0" class="current-step">
                                          <div>查询</div>
                                      </li>
                                      <li id="default-title-1" class="">
                                          <div>业务</div>
                                      </li>
                                      
                                      <!--<li id="default-title-2" class="" >
                                          <div>账务</div>
                                      </li>-->
                                      <li id="default-title-2" class="">
                                          <div>预览</div>
                                      </li>
                                  </ul>
                              </div>
                              <form class="form-horizontal" id="default">
                                  <fieldset title="查询" class="step" id="default-step-0">
                                  	<legend> </legend>
                                  	<div class="form-group">
														      		<div class="row">
														      			<div class="col-lg-3"></div>
														      			<div class="col-lg-4">
														              		<div class="input-group">
																					      <input type="text" class="form-control" placeholder="Search something">
																					      <span class="input-group-btn">
																					        <button class="btn btn-info" type="button"><i class="icon-search"></i></button>
																					      </span>
																					    </div><!-- /input-group -->
																		    </div>
																		    <div class="col-lg-2">
																		        <a id="searchMore" class="MyA" style="display: block;margin-top: 6px;"><span>更多筛选条件 </span><i class="icon-chevron-up"></i></a>
																		    </div>
																	    </div>
																    </div>       
																		<div id="searchNoreDiv">
																			<div class="form-group  col-lg-6">
																			<label for="inputPassword3" class="col-sm-3 control-label">授信客户名称:</label>
																	    <div class="col-sm-8">
																	      <input type="input" class="form-control" id="inputPassword3">
																	    </div>
																		</div>
																		<div class="form-group col-lg-6">
																			<label for="inputPassword3" class="col-sm-3 control-label">客户编号:</label>
																	    <div class="col-sm-8">
																	      <input type="input" class="form-control" id="inputPassword3">
																	    </div>
																		</div>
																		</div>
												    				<table id="ta"></table>
                                  		
                                 </fieldset>
                                  <fieldset title="业务" class="step" id="default-step-1" >
                                      <legend> </legend>
                                 
		                                 		<div id="form2" class="col-lg-12">
		                                 			<form-temp :inputs="form2Inputs" :width="form2Width"></form-temp>
		                                 		</div>
				                                  	<!--表格 div-->
				                               			 <div>
                               			 	 <div id="toolbar2" class="btn-group">
															            <button id="btn_add" type="button" class="btn btn-myBlue">
															                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
															            </button>
															            <button id="btn_edit" type="button" class="btn btn-myBlue">
															                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
															            </button>
															            <button id="btn_delete" type="button" class="btn btn-myBlue">
															                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
															            </button>
															         </div>
                               			 	<table id="tb_departments"></table>
                               			 </div>
                                  </fieldset>
                                  <!--<fieldset title="账务" class="step" id="default-step-2" >
                                      <legend> </legend>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Full Name</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">Tawseef Ahmed</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Email Address</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">tawseef@vectorlab.com</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">User Name</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">tawseef</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Phone</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">01234567</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Mobile</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">01234567</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Address</label>
                                          <div class="col-lg-10">
                                              <p class="form-control-static">
                                                  Dreamland Ave, Suite 73
                                                  AU, PC 1361
                                                  P: (123) 456-7891 </p>
                                          </div>
                                      </div>
                                  </fieldset>-->
                                  <fieldset title="预览" class="step" id="default-step-2" >
                                      <legend> </legend>
                                      <div class="col-lg-6">
                                      	  <div class="form-group">
                                          <label class="col-lg-3 control-label">登记流水号：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">Trf04438</p>
                                          </div>
                                      </div>
                                     <div class="form-group">
                                          <label class="col-lg-3 control-label">授信客户编号：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">Fac02848</p>
                                          </div>
                                      </div>
                                       <div class="form-group">
                                          <label class="col-lg-3 control-label">授信客户名称：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">大大实业公司</p>
                                          </div>
                                      </div>
                                      
                                      </div>
                                    	<div class="col-lg-6">
                                    		<div class="form-group">
                                          <label class="col-lg-3 control-label">币种：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">CNY</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-3 control-label">发票登记笔数：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">0</p>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-lg-3 control-label">发票登记金额：</label>
                                          <div class="col-lg-9">
                                              <p class="form-control-static">10000.00</p>
                                          </div>
                                      </div>
                                        	
                                    	</div>
                                    		
                                   	<!--表格 div-->
                               			 	<table id="tb3"></table>
                                  </fieldset>
                                  <input type="submit" onclick="window.print();" class="finish btn btn-danger Noprint" value="打印"/>
                              </form>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>

<!--新增的弹出-->
<div class="modal fade"  id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" onscroll="true">
  <div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-size: 14px;display: block;margin-bottom: 7px;margin-left: 10px">新增</span></h4>
      </div>
      <div class="modal-body col-lg-12">
           	<!--form表单-->
           	<form class="form-horizontal" id="form">
          		<form-temp :inputs="inputs" :width="width"></form-temp>                             		
           	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default1" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info">保存</button>
      </div>
    </div>
  </div>
</div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.scrollTo.min.js"></script>
    <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
		


    <!--common script for all pages-->
    <script src="../js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="../js/jquery.stepy.js"></script>
		<script src="../js/bootstrap-table.js"></script>
   
    <script src="../js/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 7、页面Js文件的引用    -->
    <script src="../js/index.js"></script>
    <!-- Metis Menu Js -->
   
    <script src="../js/jquery.metisMenu.js"></script>
		<script src="../js/custom-scripts.js"></script>
		<script type="text/x-template" id="ol">
				<ol class="breadcrumb">
				  <li style="color: #667FA0;">{{ol[0]}}</li>
				  <li v-if="ol.length==3" style="color: #667FA0;">{{ol[1]}}</li>
				  <li  class="active">{{ol.length==3?ol[2]:ol[1]}}</li>
				</ol>
		</script>
		<script>
			Vue.component('ol-tem', {
		  template: '#ol',
		  props: {
		  	ol:Array
		  },
		  data:{
		  	
		  }
		});  
		var data = [];
		data.push(getParam('name1'));
		data.push(getParam('name2'));
		if(getParam('name3')!=""){
			data.push(getParam('name3'));
		}
		var olVm = new Vue({
								el: '#olHead',
								data:{
									ol:data
								}
							});
		</script>
		
		
		 <script type="text/x-template" id="nav">
	         <nav id="sidebar" class="navbar-default navbar-side" role="navigation">
	            <div class="sidebar-collapse">
	                <ul class="nav" id="main-menu">
	
	                    <li>
	                        <a class="" href="home.html"><i class="icon-home fa fa-dashboard"></i> 首页</a>
	                    </li>
	                    <li v-for="key in yu">
	                    	<a href="{{key.url}}" id="{{key.id}}"><i class="{{key.icon}} fa fa-desktop"></i> {{key.name}}<span class="fa arrow"></span></a>
	                    		<ul v-if="key.children != undefined" class="nav nav-second-level">
	                    			<li v-for="ke in key.children">
	                    				 <a href="{{ke.url}}" id="{{ke.id}}"><i  class="{{ke.icon}}"></i>{{ke.name}}<span v-if="ke.children!=undefined" class="fa arrow"></span></a>
                            	 <ul v-if="ke.children!=undefined" class="nav nav-third-level">
                            	 	<li v-for="k in ke.children">
                            	 		<a href="{{k.url}}" id="{{k.id}}"><i></i>{{k.name}}</a>
                            	 	</li>	
                            	 </ul>
                            </li>
	                    		</ul>
	                    </li>
	                    
	                </ul>
	
	            </div>
	
	        </nav>
	         	
  </script>
  <script type="text/javascript">
		Vue.component('nav-tem', {
		  template: '#nav',
		  props: {
		  	yu:Array
		  }
		}); 
		var datay = [{
			url:'#',
			icon:'icon-group',
			name:'客户管理',
			id:'a',
			children:[{
				url:'form_wizard.html?name1=cust&name2=add&id=a1',
				name:'新增',
				id:'a1'
			},{
				url:'form_wizard.html?name1=cust&name2=edit&id=a2',
				name:'修改',
				id:'a2'
			},{
				url:'form_wizard.html?name1=cust&name2=query&id=a3',
				name:'查询',
				id:'a3'
			},{
				url:'form_wizard.html?name1=cust&name2=del&id=a3',
				name:'删除',
				id:'a4'
			}]},
			{
				url:'#',
				icon:'icon-briefcase',
				name:'国内单笔保理',
				id:'b',
				children:[{
					url:'#',
					icon:'icon-pencil',
					name:'登记',
					id:'b1',
					children:[{
							url:'form_wizard.html?name1=guo&name2=dengji&name3=login&id=b11',
							name:'申请',
							id:'b11'
						},{
							url:'form_wizard.html?name1=guo&name2=dengji&name3=again&id=b12',
							name:'复核',
							id:'b12'
						},{
							url:'form_wizard.html?name1=guo&name2=dengji&name3=road&id=b13',
							name:'在途',
							id:'b13'
						},{
							url:'form_wizard.html?name1=guo&name2=dengji&name3=deal&id=b14',
							name:'处理',
							id:'b14'
						}]
				},{
					url:'#',
					icon:'icon-mail-forward',
					name:'转让',
					id:'b2',
					children:[{
							url:'form_wizard.html?name1=guo&name2=zhuan&name3=login&id=b21',
							name:'申请',
							id:'b21'
						},{
							url:'form_wizard.html?name1=guo&name2=zhuan&name3=again&id=b22',
							name:'复核',
							id:'b22'
						},{
							url:'form_wizard.html?name1=guo&name2=zhuan&name3=road&id=b23',
							name:'在途',
							id:'b23'
						},{
							url:'form_wizard.html?name1=guo&name2=zhuan&name3=deal&id=b24',
							name:'处理',
							id:'b24'
						}]
				},{
					url:'#',
					icon:'icon-cny',
					name:'融资',
					id:'b3',
					children:[{
							url:'form_wizard.html?name1=guo&name2=rong&name3=login&id=b31',
							name:'申请',
							id:'b31'
						},{
							url:'form_wizard.html?name1=guo&name2=rong&name3=again&id=b32',
							name:'复核',
							id:'b32'
						},{
							url:'form_wizard.html?name1=guo&name2=rong&name3=road&id=b33',
							name:'在途',
							id:'b33'
						},{
							url:'form_wizard.html?name1=guo&name2=rong&name3=deal&id=b34',
							name:'处理',
							id:'b34'
						}]
				},{
					url:'#',
					icon:'icon-credit-card',
					name:'付款',
					id:'b4',
					children:[{
							url:'form_wizard.html?name1=guo&name2=pay&name3=login&id=b41',
							name:'申请',
							id:'b41'
						},{
							url:'form_wizard.html?name1=guo&name2=pay&name3=again&id=b42',
							name:'复核',
							id:'b42'
						},{
							url:'form_wizard.html?name1=guo&name2=pay&name3=road&id=b43',
							name:'在途',
							id:'b43'
						},{
							url:'form_wizard.html?name1=guo&name2=pay&name3=deal&id=b44',
							name:'处理',
							id:'b44'
						}]
				}]
				},
				{
					url:'barPage.html?name1="报表"&name2="展示"',
					icon:'icon-bar-chart',
					name:'报表',
					id:'c'
				}
		];

		var vm = new Vue({
								el: '#yu',
								data:{
									yu:datay
								}
							});
  </script>

		
		<script type="text/x-template" id="p-template">
			<div class="col-lg-6">
				<div class="form-group" v-for=" cell in cellsLeft">
          <label class="col-lg-3 control-label"{{cell.name}}：</label>
          <div class="col-lg-9">
              <p class="form-control-static">{{cell.value}}</p>
          </div>
      	</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group" v-for=" cell in cellsRight">
          <label class="col-lg-3 control-label"{{cell.name}}：</label>
          <div class="col-lg-9">
              <p class="form-control-static">{{cell.value}}</p>
          </div>
      	</div>
			</div>
		</script>
		<script type="text/x-template" id="userName-template">
			 <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" id="nameA" class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="username">小明</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout" role="menu">
                            <div class="log-arrow-up"></div>
                            <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
		</script>
		<script>
			Vue.component('user-name',{
				template:'#userName-template'
			});
			var userName = new Vue({
				el : '#userName'
			});
		</script>
		<script>
			var data = [{
				name:'21',
				valaue:'33'
			},{
				name:'21',
				valaue:'33'
			},{
				name:'21',
				valaue:'33'
			},{
				name:'21',
				valaue:'33'
			},{
				name:'21',
				valaue:'33'
			}];
			Vue.component('p-temp', {
				  template: '#p-template',
				  props: {
				    inputs: Array
				  },
				  data:function(){
				  	var half = this.inputs.length/2+(this.inputs.length%2!=0?1:0);
				  	return{
				  		cellsLeft:this.inputs.slice(0,half),
				  		cellsRight:this.inputs.slice(half,this.inputs.length)
				  	}
				  }
			});
			var p = new Vue({
				  el: '#p',
				  data: {
				  	inputs : data
				  	
				  }
				});
		</script>
		<script type="text/x-template" id="form-template">
   					<!--form表单2-->
			  	<!--form表单1-->
			  	<div class="panel-body col-sm-6">
              <div v-for="cell in formLeft" class="form-group">
			              <label for="{{cell.name}}" class="{{labelWidth}} control-label">{{cell.label}}</label>
			              <div class="{{inputWidth}}">
			                  <input type="{{cell.type}}" class="form-control" id="{{cell.name}}" name="{{cell.name}}" value="{{cell.default}}" v-model="{{cell.name}}">
			              </div>
		          </div>
          </div>
			  	<!--form表单1-->
			  	<div class="panel-body col-sm-6">
              <div v-for="cell in formRight" class="form-group">
			              <label for="{{cell.name}}" class="{{labelWidth}} control-label">{{cell.label}}</label>
			              <div class="{{inputWidth}}">
			                  <input type="{{cell.type}}" class="form-control" id="{{cell.name}}" name="{{cell.name}}" value="{{cell.default}}" v-model="{{cell.name}}">
			              </div>
		          </div>
          </div>
				                       
		</script>
  	<script>
  		var data = [{
  			name:"name1",
  			label:"登记流水号",
  			type:'text'
  		},
  		{
  			name:"name2",
  			label:"授信客户名称",
  			type:'text'
  		},
  		{
  			name:"name3",
  			label:"授信客户编号",
  			type:'text'
  		},{
  			name:"name4",
  			label:"授信客户编号",
  			type:'text'
  		},
  		{
  			name:"name5",
  			label:"币种",
  			type:'text'
  		},
  		{
  			name:"name6",
  			label:"发票登记笔数",
  			type:'text'
  		},
  		{
  			name:"name",
  			label:"授信客户编号",
  			type:'text'
  		},
  		{
  			name:"name",
  			label:"币种",
  			type:'text'
  		},
  		{
  			name:"name",
  			label:"发票登记金额",
  			type:'text'
  		}];
  			Vue.component('form-temp', {
				  template: '#form-template',
				  props: {
				    inputs: Array,
				    width:String
				  },
				  data:function() {
				  	var half = this.inputs.length/2+(this.inputs.length%2!=0?1:0);
				  	return {
				  		formLeft : this.inputs.slice(0,half),
				  		formRight : this.inputs.slice(half,this.inputs.length),
				  		labelWidth: 'col-lg-'+this.width,
				  		inputWidth: 'col-lg-'+(12-parseInt(this.width))
				  	}
				  }
				});
				var form2 = new Vue({
				  el: '#form2',
				  data: {
				  	form2Inputs : data,
				  	form2Width : '3'
				  	
				  }
				});
				var form = new Vue({
				  el: '#form',
				  data: {
				  	inputs : data,
				  	width : '3'
				  	
				  }
				});
  	</script>
  <script>
      //step wizard

      $(function() {
      		$('.dropdown-toggle').dropdown()
      		$('#searchNoreDiv').hide();
          $('#default').stepy({
              backLabel: '上一步',
              block: true,
              nextLabel: '下一步',
              titleClick: true,
              titleTarget: '.stepy-tab',
              next:function(i){
              	if(i==2){
              		$('#default-next-1').html('提交')
              	}
              }
          });
          createTable('ta');
           createTable('tb3');
		      /**
		       * 新增的弹出窗口
		       */
          $('#btn_add').on('click',function(){
          	$('#addModal').modal();
          });
          $('#btn_edit').on('click',function(){
          	$('#addModal').modal();
          })
          $('#searchContent').on('click',function(){
          	seachCust();
          });
          
          $('#searchMore').on('click',function(){
          	changeSearchStyle()
          });
          
          //展开nav
          openNav();
      });
     
      
      /**
       * 查询的弹出窗口
       */
      function seachCust(){
      	$('#myModal').modal();
      	createTable('ta');
      }
      
      /**
       * 改变查询更多条件的样式
       */
      function changeSearchStyle(){
      	var i = $('#searchMore').children('i');
          	if(i.hasClass('icon-chevron-up')){
          		i.removeClass('icon-chevron-up');
          		i.addClass('icon-chevron-down');
          		$('#searchMore').children('span').html('精选筛选条件 ');
          		$('#searchNoreDiv').show();
          	}else{
          		i.removeClass('icon-chevron-down');
          		i.addClass('icon-chevron-up');
          		$('#searchMore').children('span').html('更多筛选条件 ');
          		$('#searchNoreDiv').hide();
          	}
      }
  </script>


  </body>
</html>
